USE [R_SSRS]
GO
/****** Object:  Table [dbo].[R_data]    Script Date: 4. 03. 2018 21:56:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_data](
	[v1] [int] NULL,
	[v2] [int] NULL,
	[v_low] [int] NULL,
	[v_high] [int] NULL,
	[letter] [char](1) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[R_data] ([v1], [v2], [v_low], [v_high], [letter]) VALUES (144, 505, 92, 8, N'4')
GO
INSERT [dbo].[R_data] ([v1], [v2], [v_low], [v_high], [letter]) VALUES (164, 282, 105, 2, N'D')
GO
INSERT [dbo].[R_data] ([v1], [v2], [v_low], [v_high], [letter]) VALUES (203, 315, 130, 4, N'6')
GO
